body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.img-home-portfolio {
    margin-bottom: 0;
}

.home-category-list {
    font-size: 20px;
}

.searchPopup {
    position: absolute;
    margin: auto;
    padding: 20%;
    z-index: 3;
}

.topFields {
    position: relative;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    padding: 13px;
    z-index: 3;
}

.ul-no-bullets {
    list-style-type: none;
}

.li-red {
    color: #D5535A;
}

.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}

.floatL {
    float: left !important;
}


.floatR {
    float: right;
}
.tmc-blue {
    color: #4E92DB;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.display-none {
    display: none;
}

.hr .no-margin {
    margin: 0; 
}

.chipbar {
    overflow: hidden;
}

 .chipbar ul li a {
    color: #828282;
    padding-right: 15px;
    padding-left: 5px;
    float: left!important;
    background: #EEEEEE;   
    display: block;
    margin: 5px;
    text-decoration: none;
}
  .chipbar ol, ul {
        list-style: none;
  }
 .chipbar ul li i {
    font-size: 10px;
    color: #DF4037;
    cursor: pointer;
    float: right!important;
    position: absolute;
    margin: 4px 5px 5px 4px;
   
}

.padding-top-zero {
    padding-top:0 !important;
}
.homeSearchControl {    
    background-color:#222222;
    padding-top:10px;    
}

.home-category-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    color: #222222;
    padding: 5px 10px;
    font-weight: 300;
}
.padding2 {
    padding:2px;
}
.margin-top-10 {
    margin-top:10px;
}
.home-category-title {
    display: block;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 15px;
    font-size: 16px;
    line-height: 1.42857;
}

.stalk-search {
    margin-top: 50px;
    z-index: 3;
    
}

.category-home-container {
    margin-bottom:50px;
    margin-top:60px;
}

.modal-body {
    padding-top: 5px;
}

#tmcDialogMessageBoxBody {
    padding-top: 20px;
}

#tmcDialogConfirmBoxBody {
    padding-top: 20px;
}

.trending-deals-header {
background-color:orange;
}
/*File Upload*/

   .my-drop-zone {
        border: dotted 3px lightgray;
    }

    .nv-file-over {
        border: dotted 3px red;
    }
    /* Default class applied to drop zones on over */
    .another-file-over-class {
        border: dotted 3px green;
    }
    html, body {
        height: 100%;
    }

    canvas {
        background-color: #f3f3f3;
        -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
        -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
        box-shadow: 3px 3px 3px 0 #e3e3e3;
        border: 1px solid #c3c3c3;
        height: 100px;
        margin: 6px 0 0 6px;
    }