@using TMC.Shared
@using TMC.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = "Home";
}

@section scripts{
    @Scripts.Render("~/Scripts/tmc.home.index.js")

    <script type="text/javascript">

        $(function () {
            homeIndex = new HomeIndex();
            homeIndex.initialize();
        });

    </script>
}
<style>
    .flexslider {
        margin: 0;
    }
.img-home-portfolio {
    margin-bottom: 0;
}
.home-category-list {
    font-size: 11px;
    
}
.searchPopup {
    position: absolute;
    margin: auto;
    padding: 20%;
    z-index: 3;
}

.topFields {
    position: relative;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    padding: 13px;
    z-index: 3;
}
.ul-no-bullets {
    list-style-type: none;
}

    .li-red {
        color: #D5535A;
    }
.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}
.tmc-blue {
    color: #4E92DB;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.ui-autocomplete-loading {
    background: white url("/img/autocomplete/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  /*.tmc-auto { width: 25em; }*/
/*.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
  
    overflow-x: hidden;
  }*/
</style>
<div class="searchPopup row">
    <div class="col-sm-12 topFields">
        <div class="col-sm-5">
            <input type="text" id="ddlCities" class="form-control" placeholder="e.g. Delhi, Gurgaon"/>
        </div>
        <div class="col-sm-6">
            <input type="text" id="ddlCategories" class="form-control" placeholder="e.g. Tution, Hotels"/>
        </div>
       
            <button id="btnSearchMain" class="col-sm-1 btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        
    </div>
</div>

<!-- New Slider Start-->
<div class="row">
<div class="flexslider col-sm-12" style="position: relative">
   
    <ul class="slides">
        <li>
            <img src="/img/banner.jpg" alt=""></li>
        <li>
            <img src="/img/banner1.jpg" alt=""></li>
        <li>
            <img src="/img/banner2.jpg" alt=""></li>
    </ul>
    
</div>
</div>
<!-- New Slider END-->

<!-- Categories Section Start-->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>@ResourceUtility.GetCaptionFor(
                                              ResourceConstants.Common.Labels.MoreCategories)</h2>
                <hr>
            </div>
            @foreach (var category in Model.TopCategories)
            {
                <div class="col-sm-1">
                    <a href="" class="home-category-list">
                        <img class="img-responsive img-home-portfolio" src="/img/nav.png">
                        @category.ShortName
                    </a>
                </div>
            }
        <!-- /.row -->
</div>
    </div>
    <!-- /.container -->

</div>

<!-- Categories Section END-->
@*<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Bootstrap 3 Built</h3>
                <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Ready to Style &amp; Edit</h3>
                <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Many Page Options</h3>
                <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>*@
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row  text-center">
            <div class="col-sm-12">
                <h2>How LocalCord Works</h2>
                <p>Your search will end here</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="tmc-blue">Get your job done. Fast and easy.</h2>
                <ul class="ul-no-bullets">
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-pencil font-30"></span><span class="font-20 margin-left-10">  Tell us about the local service you are looking for</span></li>
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-earphone font-30"></span><span class="font-20 margin-left-10">  Get free quotes from right businesses</span></li>
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-ok font-30"></span><span class="font-20 margin-left-10">  Choose the business that best fits your need. Done!</span></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->


<!-- /.section -->




<div class="section">

    <div class="container">
        <div class="row  text-center">
            <div class="col-sm-12">
                <h2>Be a Professional</h2>
                <p>Connect with consumers</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-sm-6">
                <h2 class="tmc-blue">Get your job done. Fast and easy.</h2>
                <ul class="ul-no-bullets">
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-pencil font-30"></span><span class="font-20 margin-left-10">  Create Free Profile</span></li>
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-earphone font-30"></span><span class="font-20 margin-left-10">  Search Prospective Customers in Your Location</span></li>
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-ok font-30"></span><span class="font-20 margin-left-10">  Enrich your Profile & Reach out to more Customers</span></li>
                </ul>
             <a class="btn btn-lg btn-primary pull-right" href="">Be a Professional</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

